<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Call Me 🤙🏻</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='start_page.css') }}">
</head>
<body>
    <div class="welcome-container">
        <h1 class="typing-text">Добро пожаловать в Call Me 🤙🏻</h1>
        <div class="button-group">
            <a href="/auth/login" class="btn">Войти</a>
            <a href="/auth/register" class="btn">Зарегистрироваться</a>
        </div>
    </div>
</body>
</html>
